interactions:
- request:
    body: null
    headers:
      authorization: [Basic Y2Y6]
    method: POST
    uri: https://uaa.18f.gov/oauth/token?grant_type=password&username=fake.username%40gsa.gov&password=fake_password
  response:
    body: {string: '{"access_token":"fake_token","token_type":"bearer","refresh_token":"fake_refresh_token","expires_in":599,"scope":"password.write
        cloud_controller.write openid cloud_controller.read","jti":"fake-b735-44d3-9e43-fake"}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Cf-Requestid: [7163e19f-78fe-43b4-7a06-7d9046c0f073]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [bearer fake_token]
    method: GET
    uri: https://api.18f.gov/v2/organizations
  response:
    body: {string: "{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"533d8476-f3e9-4362-ba2a-a3fdde21bde2\",\n        \"url\":
        \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2\",\n        \"created_at\":
        \"2015-02-19T08:46:40Z\",\n        \"updated_at\": \"2015-04-08T18:56:00Z\"\n
        \     },\n      \"entity\": {\n        \"name\": \"devops\",\n        \"billing_enabled\":
        false,\n        \"quota_definition_guid\": \"f7963421-c06e-4847-9913-bcd0e6048fa2\",\n
        \       \"status\": \"active\",\n        \"quota_definition_url\": \"/v2/quota_definitions/f7963421-c06e-4847-9913-bcd0e6048fa2\",\n
        \       \"spaces_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/spaces\",\n
        \       \"domains_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/domains\",\n
        \       \"private_domains_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/private_domains\",\n
        \       \"users_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/users\",\n
        \       \"managers_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/managers\",\n
        \       \"billing_managers_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/billing_managers\",\n
        \       \"auditors_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/auditors\",\n
        \       \"app_events_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/app_events\",\n
        \       \"space_quota_definitions_url\": \"/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/space_quota_definitions\"\n
        \     }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f190f9a3-d89f-4684-8ac4-6f76e32c3e05\",\n
        \       \"url\": \"/v2/organizations/f190f9a3-d89f-4684-8ac4-6f76e32c3e05\",\n
        \       \"created_at\": \"2015-02-20T17:47:20Z\",\n        \"updated_at\":
        \"2015-04-08T18:40:16Z\"\n      },\n      \"entity\": {\n        \"name\":
        \"foia\",\n        \"billing_enabled[...]
- request:
    body: null
    headers:
      authorization: [bearer fake_token]
    method: GET
    uri: https://api.18f.gov/v2/quota_definitions/f7963421-c06e-4847-9913-bcd0e6048fa2
  response:
    body: {string: "{\n  \"metadata\": {\n    \"guid\": \"f7963421-c06e-4847-9913-bcd0e6048fa2\",\n
        \   \"url\": \"/v2/quota_definitions/f7963421-c06e-4847-9913-bcd0e6048fa2\",\n
        \   \"created_at\": \"2015-04-08T18:55:21Z\",\n    \"updated_at\": \"2015-05-08T23:34:58Z\"\n
        \ },\n  \"entity\": {\n    \"name\": \"DevOps\",\n    \"non_basic_services_allowed\":
        false,\n    \"total_services\": 24,\n    \"total_routes\": 60,\n    \"memory_limit\":
        15360,\n    \"trial_db_allowed\": false,\n    \"instance_memory_limit\": -1\n
        \ }\n}"}
    headers:
      Content-Type: [application/json;charset=utf-8]
      X-Cf-Requestid: [e3cf4efa-6cab-48fb-775f-4a9aa1aac305]
      X-Vcap-Request-Id: ['3c3c153a-fd63-482d-61a0-6108052c91d0::18e16e49-715d-4995-9fc8-634fce2be2d2']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [bearer fake_token]
    method: GET
    uri: https://api.18f.gov/v2/organizations/533d8476-f3e9-4362-ba2a-a3fdde21bde2/spaces
  response:
    body: {string: "{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"}
    headers:
      Content-Type: [application/json;charset=utf-8]
      X-Cf-Requestid: [3762baa8-4e83-46ee-6af2-0313cb69f53a]
      X-Vcap-Request-Id: ['31c410a7-9a72-4046-595d-dfc46092a0af::d934149f-2224-413a-bfa1-f5750681c52c']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      authorization: [bearer fake_token]
    method: GET
    uri: https://api.18f.gov/v2/organizations/f190f9a3-d89f-4684-8ac4-6f76e32c3e05/spaces
  response:
    body: {string: "{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"37bba51c-0719-4666-9d22-7d2d35cf0b8b\",\n        \"url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b\",\n        \"created_at\":
        \"2015-02-27T17:21:44Z\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"name\": \"hub\",\n        \"organization_guid\": \"f190f9a3-d89f-4684-8ac4-6f76e32c3e05\",\n
        \       \"space_quota_definition_guid\": null,\n        \"organization_url\":
        \"/v2/organizations/f190f9a3-d89f-4684-8ac4-6f76e32c3e05\",\n        \"developers_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/developers\",\n        \"managers_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/managers\",\n        \"auditors_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/auditors\",\n        \"apps_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/apps\",\n        \"routes_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/routes\",\n        \"domains_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/domains\",\n        \"service_instances_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/service_instances\",\n        \"app_events_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/app_events\",\n        \"events_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/events\",\n        \"security_groups_url\":
        \"/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/security_groups\"\n      }\n
        \   },\n    {\n      \"metadata\": {\n        \"guid\": \"770f7ec0-db08-42c6-a69b-5893fe0f8b1a\",\n
        \       \"url\": \"/v2/spaces/770f7ec0-db08-42c6-a69b-5893fe0f8b1a\",\n        \"created_at\":
        \"2015-03-19T17:51:35Z\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"name\": \"staging\",\n        \"organization_guid\": \"f190f9a3-d89f-4684-8ac4-6f76e32c[...]
- request:
    body: null
    headers:
      authorization: [bearer fake_token]
    method: GET
    uri: https://api.18f.gov/v2/spaces/37bba51c-0719-4666-9d22-7d2d35cf0b8b/summary
  response:
    body: {string: "{\n  \"guid\": \"37bba51c-0719-4666-9d22-7d2d35cf0b8b\",\n  \"name\":
        \"hub\",\n  \"apps\": [\n    {\n      \"guid\": \"930e3aff-728b-40ec-91d1-0c7aa3504706\",\n
        \     \"urls\": [\n        \"foia-a.cf.18f.us\"\n      ],\n      \"routes\":
        [\n        {\n          \"guid\": \"11f18c25-672c-4d0a-b545-1def265fd03a\",\n
        \         \"host\": \"foia-a\",\n          \"domain\": {\n            \"guid\":
        \"a0948d28-abe2-4a2f-b8c5-738e3fb60c24\",\n            \"name\": \"cf.18f.us\"\n
        \         }\n        }\n      ],\n      \"service_count\": 0,\n      \"service_names\":
        [\n\n      ],\n      \"running_instances\": 0,\n      \"name\": \"foia-a\",\n
        \     \"production\": false,\n      \"space_guid\": \"37bba51c-0719-4666-9d22-7d2d35cf0b8b\",\n
        \     \"stack_guid\": \"5abae1f0-9432-4da3-bc3f-c2d58f8960dd\",\n      \"buildpack\":
        null,\n      \"detected_buildpack\": \"Python\",\n      \"environment_json\":
        {\n        \"DATABASE_URL\": \"postgres://openfoia:fIz2yBBmb%oo$m4D@openfoia-production-cf.ch0moygcdwsl.us-east-1.rds.amazonaws.com:5432/openfoiadb\",\n
        \       \"DJANGO_SETTINGS_MODULE\": \"foia_hub.settings.production\",\n        \"FOIA_ANALYTICS_ID\":
        \"UA-48605964-15\",\n        \"FOIA_AWS_ACCESS_KEY_ID\": \"AKIAJBD4R7CTIR65V7ZA\",\n
        \       \"FOIA_AWS_SECRET_ACCESS_KEY\": \"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\",\n
        \       \"FOIA_S3_STATIC_BUCKET_NAME\": \"18f-foia-static\",\n        \"FOIA_SECRET_SESSION_KEY\":
        \"J#1]2xD)+s7Yr~&pc8^Yk\",\n        \"NEW_RELIC_APP_NAME\": \"foia-cf\",\n
        \       \"NEW_RELIC_LICENSE_KEY\": \"b05ed0b62e34347a800b34ddcc1362c63d3e0700\",\n
        \       \"WEB_CONCURRENCY\": \"3\"\n      },\n      \"memory\": 512,\n      \"instances\":
        4,\n      \"disk_quota\": 1024,\n      \"state\": \"STOPPED\",\n      \"version\":
        \"d13b3001-0d23-400e-bb0a-c6ac333a9fbe\",\n      \"command\": \"bash cf.sh\",\n
        \     \"console\": false,\n      \"debug\": null,\n      \"staging_task_id\":
        \"9e22725c6947455890f8fa3a16526ea8\",\n      \"package_state\": \"STAGED\",\n
        \     \"health_check_type\": \"port\",\n      \"health_check_timeout\": 180,\n
        \     \"staging_failed_reason\": null,\n      \"diego\": false,\n      \"docker_image\":
        null,\n      \"package_updated_at\": \"2015-04-29T16:24:18Z\",\n      \"detected_start_command\":
        \"bash cf.sh\"\n    },\n    {\n      \"guid\": \"7f07448f-1e34-4965-aaa5-5252b04cf4b3\",\n
        \     \"urls\": [\n        \"open.foia.gov\",\n        \"foia-b.cf.18f.us\"\n
        \     ],\n      \"routes\": [\n        {\n          \"guid\": \"e5bd5866-f213-4da7-b932-d90355419fe6\",\n
        \         \"host\": \"\",\n          \"domain\": {\n            \"guid\":
        \"396ea594-f7e8-4944-8d0a-bb2c52c67077\",\n            \"name\": \"open.foia.gov\"\n
        \         }\n    [...]
[...]
- request:
    body: null
    headers:
      authorization: [bearer fake_token]
    method: GET
    uri: https://api.18f.gov/v2/spaces/d781e851-9114-4198-8aa6-0641d3526d48/summary
  response:
    body: {string: "{\n  \"guid\": \"d781e851-9114-4198-8aa6-0641d3526d48\",\n  \"name\":
        \"gabriel.ramirez\",\n  \"apps\": [\n\n  ],\n  \"services\": [\n\n  ]\n}"}
    headers:
      Content-Type: [application/json;charset=utf-8]
      X-Cf-Requestid: [9527121b-140d-4e17-568f-1f852f17f318]
      X-Vcap-Request-Id: ['297c3b7f-679a-4052-4560-d48a93f6bf1e::d30f79ba-2d4d-4882-8e98-4d8cbd37a3c2']
    status: {code: 200, message: OK}
version: 1
