<!DOCTYPE html>
<html>
    <head>
        <title>API Documentation</title>
    </head>
    <body>
        <h2>Endpoints</h2>
        <h4>Individual Quotas</h4>
        <ul>
            <li>/api/quota/*guid*/</li>
            <li>/api/quota/*guid*/*start-date*/*end-date* -- date-format (yyyy-mm-dd)</li>
        </ul>
        <h4>All Quotas</h4>
        <ul>
            <li>/api/quotas/</li>
            <li>/api/quotas/*start-date*/*end-date* -- date-format (yyyy-mm-dd)</li>
        </ul>
    </body>
</html>
